<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CalculateFare</servlet-name>
        <servlet-class>CalculateFare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QR</servlet-name>
        <servlet-class>QR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRCodeServlet</servlet-name>
        <servlet-class>com.onlineTicket.QRGenerate.QRCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculateFare</servlet-name>
        <url-pattern>/CalculateFare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QR</servlet-name>
        <url-pattern>/QR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRCodeServlet</servlet-name>
        <url-pattern>/QRCodeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
